In [85]:
import pandas as pd
from datetime import datetime
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
from IPython.display import display
import os

In [12]:
file_path = "/Users/mi-yeonlim/Documents/Github/p404-customer/data/á„€á…©á„€á…¢á†¨á„ƒá…¦á„‹á…µá„á…¥ á„‰á…®á„Œá…¥á†¼.csv"
cs = pd.read_csv(file_path, encoding="utf-8")

In [128]:
cs.columns

Index(['ê³ ê°ID', 'ìƒë…„ì›”ì¼', 'ì„±ë³„', 'ì£¼ì†Œ', 'ê°€ì…ì¼', 'ê³ ê°ì„¸ê·¸ë¨¼íŠ¸', 'ê¸ˆì•¡', 'ì°¨ëŸ‰êµ¬ë¶„', 'êµ¬ë§¤ íšŸìˆ˜',
       'ëˆ„ì  êµ¬ë§¤ ê¸ˆì•¡', 'êµ¬ë§¤ ë‚ ì§œ', 'ê±°ë˜ ë°©ì‹', 'êµ¬ë§¤ ê²½ë¡œ'],
      dtype='object')

In [129]:
cs.head()

,ê³ ê°ID,ìƒë…„ì›”ì¼,ì„±ë³„,ì£¼ì†Œ,ê°€ì…ì¼,ê³ ê°ì„¸ê·¸ë¨¼íŠ¸,ê¸ˆì•¡,ì°¨ëŸ‰êµ¬ë¶„,êµ¬ë§¤ íšŸìˆ˜,ëˆ„ì êµ¬ë§¤ ê¸ˆì•¡,êµ¬ë§¤ ë‚ ì§œ,ê±°ë˜ ë°©ì‹,êµ¬ë§¤ ê²½ë¡œ
0,14798,2002-03-04,ë‚¨,ì¸ì²œê´‘ì—­ì‹œ ë‚¨ë™êµ¬ êµ¬ì›”ë™ 88-10,2023-04-01,ì¼ë°˜,35170000,ì¤€ì¤‘í˜• ì„¸ë‹¨,1,35170000,2024-04-04,ì‹ ìš©ì¹´ë“œ,ì˜¤í”„ë¼ì¸
1,kyoungsoo031,1983-01-02,ë‚¨,ê´‘ì£¼ê´‘ì—­ì‹œ ì„œêµ¬ ì¹˜í‰ë™ 14-7,2025-02-09,vip,85790000,ì¤€ëŒ€í˜• ì„¸ë‹¨,5,428950000,2025-02-10,ì‹ ìš©ì¹´ë“œ,ì˜¤í”„ë¼ì¸
2,daeun026,1999-05-02,ì—¬,ë¶€ì‚°ê´‘ì—­ì‹œ í•´ìš´ëŒ€êµ¬ ìš°ë™ 101-12,2025-02-28,ì‹ ê·œ,69500000,ì¤‘í˜• SUV,1,69500000,2025-03-10,ê³„ì¢Œì´ì²´,ì˜¤í”„ë¼ì¸
3,minsu001,1960-07-01,ë‚¨,ì „ë¼ë‚¨ë„ ëª©í¬ì‹œ ë¶€ì£¼ë™ 77-8,2023-04-28,ì¼ë°˜,34920000,ì¤‘í˜• SUV,1,34920000,2023-05-01,í˜„ê¸ˆ,ì˜¤í”„ë¼ì¸
4,seunghyun020,1970-03-02,ë‚¨,ê²½ê¸°ë„ ìˆ˜ì›ì‹œ ì˜í†µêµ¬ ì›ì²œë™ 12-34,2023-09-18,ì´íƒˆê°€ëŠ¥,50230000,ì¤€ì¤‘í˜• ì„¸ë‹¨,1,50230000,2023-10-01,ì‹ ìš©ì¹´ë“œ,ì˜¤í”„ë¼ì¸

In [141]:
import pandas as pd
from datetime import datetime

# í•„ìš”í•œ í•¨ìˆ˜ë“¤ ì •ì˜
def get_purchase_count_score(count):
    if count >= 5:
        return 5
    elif count >= 4:
        return 4
    elif count >= 3:
        return 3
    elif count >= 2:
        return 2
    else:
        return 1

def get_amount_score(amount):
    if amount >= 500000000:  # 5ì–µ ì´ìƒ
        return 5
    elif amount >= 300000000:  # 3ì–µ ì´ìƒ
        return 4
    elif amount >= 150000000:  # 1ì–µ 5ì²œë§Œ ì´ìƒ
        return 3
    elif amount >= 50000000:  # 5ì²œë§Œ ì´ìƒ
        return 2
    else:
        return 1  # 5ì²œë§Œ ë¯¸ë§Œ

def get_recency_score(days_since_last_purchase):
    if days_since_last_purchase <= 30:
        return 5  # í•œ ë‹¬ ì´ë‚´
    elif days_since_last_purchase <= 90:
        return 4  # 3ê°œì›” ì´ë‚´
    elif days_since_last_purchase <= 180:
        return 3  # 6ê°œì›” ì´ë‚´
    elif days_since_last_purchase <= 365:
        return 2  # 1ë…„ ì´ë‚´
    else:
        return 1  # 1ë…„ ì´ìƒ ë¯¸êµ¬ë§¤

def get_transaction_score(method):
    return 2 if method == "ì¼ì‹œë¶ˆ" else 1

def get_purchase_path_score(path):
    return 2 if path == "ì˜¨ë¼ì¸" else 1

# í˜„ì¬ ë‚ ì§œ ì„¤ì •
current_date = datetime(2025, 3, 20)


# 1. êµ¬ë§¤ íšŸìˆ˜ ì ìˆ˜
cs['êµ¬ë§¤ íšŸìˆ˜ ì ìˆ˜'] = cs['êµ¬ë§¤ íšŸìˆ˜'].apply(get_purchase_count_score)

# 2. ëˆ„ì  êµ¬ë§¤ ê¸ˆì•¡ ì ìˆ˜
cs['ëˆ„ì  êµ¬ë§¤ ê¸ˆì•¡ ì ìˆ˜'] = cs['ëˆ„ì  êµ¬ë§¤ ê¸ˆì•¡'].apply(get_amount_score)

# 3. êµ¬ë§¤ ìµœê·¼ì„± ì ìˆ˜
cs['êµ¬ë§¤ ë‚ ì§œ'] = pd.to_datetime(cs['êµ¬ë§¤ ë‚ ì§œ'])
cs['ë§ˆì§€ë§‰ êµ¬ë§¤ ì´í›„ ì¼ìˆ˜'] = (current_date - cs['êµ¬ë§¤ ë‚ ì§œ']).dt.days
cs['êµ¬ë§¤ ìµœê·¼ì„± ì ìˆ˜'] = cs['ë§ˆì§€ë§‰ êµ¬ë§¤ ì´í›„ ì¼ìˆ˜'].apply(get_recency_score)

# 4. ê±°ë˜ ë°©ì‹ ì ìˆ˜
cs['ê±°ë˜ ë°©ì‹ ì ìˆ˜'] = cs['ê±°ë˜ ë°©ì‹'].apply(get_transaction_score)

# 5. êµ¬ë§¤ ê²½ë¡œ ì ìˆ˜
cs['êµ¬ë§¤ ê²½ë¡œ ì ìˆ˜'] = cs['êµ¬ë§¤ ê²½ë¡œ'].apply(get_purchase_path_score)

# ì´ì  ê³„ì‚°
cs['ì´ì '] = (cs['êµ¬ë§¤ íšŸìˆ˜ ì ìˆ˜'] + 
              cs['ëˆ„ì  êµ¬ë§¤ ê¸ˆì•¡ ì ìˆ˜'] + 
              cs['êµ¬ë§¤ ìµœê·¼ì„± ì ìˆ˜'] + 
              cs['ê±°ë˜ ë°©ì‹ ì ìˆ˜'] + 
              cs['êµ¬ë§¤ ê²½ë¡œ ì ìˆ˜'])

In [142]:
print(cs["ì´ì "].value_counts())

ì´ì
7     45
8     35
10    34
9     34
11    31
13    25
6     24
12    23
14    17
5     12
15     9
16     3
Name: count, dtype: int64

In [ ]:
import pandas as pd
from datetime import datetime

# í•„ìš”í•œ í•¨ìˆ˜ë“¤ ì •ì˜
def get_purchase_count_score(count):
    if count >= 5:
        return 5
    elif count >= 4:
        return 4
    elif count >= 3:
        return 3
    elif count >= 2:
        return 2
    else:
        return 1

def get_amount_score(amount):
    if amount >= 500000000:  # 5ì–µ ì´ìƒ
        return 5
    elif amount >= 300000000:  # 3ì–µ ì´ìƒ
        return 4
    elif amount >= 150000000:  # 1ì–µ 5ì²œë§Œ ì´ìƒ
        return 3
    elif amount >= 50000000:  # 5ì²œë§Œ ì´ìƒ
        return 2
    else:
        return 1  # 5ì²œë§Œ ë¯¸ë§Œ

def get_recency_score(days_since_last_purchase):
    if days_since_last_purchase <= 30:
        return 5  # í•œ ë‹¬ ì´ë‚´
    elif days_since_last_purchase <= 90:
        return 4  # 3ê°œì›” ì´ë‚´
    elif days_since_last_purchase <= 180:
        return 3  # 6ê°œì›” ì´ë‚´
    elif days_since_last_purchase <= 365:
        return 2  # 1ë…„ ì´ë‚´
    else:
        return 1  # 1ë…„ ì´ìƒ ë¯¸êµ¬ë§¤

def get_transaction_score(method):
    return 2 if method == "ì¼ì‹œë¶ˆ" else 1

def get_purchase_path_score(path):
    return 2 if path == "ì˜¨ë¼ì¸" else 1

# í˜„ì¬ ë‚ ì§œ ì„¤ì •
current_date = datetime(2025, 3, 20)

# ì˜ˆì‹œ ë°ì´í„°í”„ë ˆì„ cs
# cs = pd.read_csv('your_data.csv')  # ì‹¤ì œ ë°ì´í„°í”„ë ˆì„ì„ ì—¬ê¸°ì— ë¡œë“œ

# 1. êµ¬ë§¤ íšŸìˆ˜ ì ìˆ˜
cs['êµ¬ë§¤ íšŸìˆ˜ ì ìˆ˜'] = cs['êµ¬ë§¤ íšŸìˆ˜'].apply(get_purchase_count_score)

# 2. ëˆ„ì  êµ¬ë§¤ ê¸ˆì•¡ ì ìˆ˜
cs['ëˆ„ì  êµ¬ë§¤ ê¸ˆì•¡ ì ìˆ˜'] = cs['ëˆ„ì  êµ¬ë§¤ ê¸ˆì•¡'].apply(get_amount_score)

# 3. êµ¬ë§¤ ìµœê·¼ì„± ì ìˆ˜
cs['êµ¬ë§¤ ë‚ ì§œ'] = pd.to_datetime(cs['êµ¬ë§¤ ë‚ ì§œ'])
cs['ë§ˆì§€ë§‰ êµ¬ë§¤ ì´í›„ ì¼ìˆ˜'] = (current_date - cs['êµ¬ë§¤ ë‚ ì§œ']).dt.days
cs['êµ¬ë§¤ ìµœê·¼ì„± ì ìˆ˜'] = cs['ë§ˆì§€ë§‰ êµ¬ë§¤ ì´í›„ ì¼ìˆ˜'].apply(get_recency_score)

# 4. ê±°ë˜ ë°©ì‹ ì ìˆ˜
cs['ê±°ë˜ ë°©ì‹ ì ìˆ˜'] = cs['ê±°ë˜ ë°©ì‹'].apply(get_transaction_score)

# 5. êµ¬ë§¤ ê²½ë¡œ ì ìˆ˜
cs['êµ¬ë§¤ ê²½ë¡œ ì ìˆ˜'] = cs['êµ¬ë§¤ ê²½ë¡œ'].apply(get_purchase_path_score)

# ì´ì  ê³„ì‚°
cs['ì´ì '] = (cs['êµ¬ë§¤ íšŸìˆ˜ ì ìˆ˜'] + 
             cs['ëˆ„ì  êµ¬ë§¤ ê¸ˆì•¡ ì ìˆ˜'] + 
             cs['êµ¬ë§¤ ìµœê·¼ì„± ì ìˆ˜'] + 
             cs['ê±°ë˜ ë°©ì‹ ì ìˆ˜'] + 
             cs['êµ¬ë§¤ ê²½ë¡œ ì ìˆ˜'])

# ê³ ê° ì„¸ê·¸ë¨¼íŠ¸ ì¬ìƒì„±
def classify_customer(score, recency_days, purchase_count):
    # ì‹ ê·œ ì¡°ê±´: ìµœê·¼ 6ê°œì›” ì´ë‚´ êµ¬ë§¤ && êµ¬ë§¤ íšŸìˆ˜ 1íšŒì¸ ê³ ê°
    if recency_days <= 180 and purchase_count == 1:  # 5ê°œì›” ì´ë‚´ && êµ¬ë§¤ íšŸìˆ˜ 1
        return "ì‹ ê·œ"
    
    # ê¸°ì¡´ ì¡°ê±´: ì´ì  ê¸°ì¤€ìœ¼ë¡œ ì„¸ê·¸ë¨¼íŠ¸ ë¶„ë¥˜
    if score >= 13:
        return "VIP"  # 13ì  ì´ìƒì€ VIP
    elif score >= 8:
        return "ì¼ë°˜"  # 8ì  ì´ìƒ 13ì  ë¯¸ë§Œì€ ì¼ë°˜
    else:
        return "ì´íƒˆê°€ëŠ¥"  # 7ì  ì´í•˜ì¸ ê²½ìš° ì´íƒˆê°€ëŠ¥

# ê³ ê° ì„¸ê·¸ë¨¼íŠ¸ ì ìš©
cs['ë“±ê¸‰'] = cs.apply(lambda row: classify_customer(row['ì´ì '], row['ë§ˆì§€ë§‰ êµ¬ë§¤ ì´í›„ ì¼ìˆ˜'], row['êµ¬ë§¤ íšŸìˆ˜']), axis=1)

# ê²°ê³¼ í™•ì¸
print(cs[['ê³ ê°ID', 'êµ¬ë§¤ íšŸìˆ˜ ì ìˆ˜', 'ëˆ„ì  êµ¬ë§¤ ê¸ˆì•¡ ì ìˆ˜', 'êµ¬ë§¤ ìµœê·¼ì„± ì ìˆ˜', 
          'ê±°ë˜ ë°©ì‹ ì ìˆ˜', 'êµ¬ë§¤ ê²½ë¡œ ì ìˆ˜', 'ì´ì ', 'ë“±ê¸‰']].head())

ğŸ“Œ [ê³ ê° ë“±ê¸‰ ë¶„í¬]
ë“±ê¸‰
ì¼ë°˜      153
ì´íƒˆê°€ëŠ¥     84
vip      45
ì‹ ê·œ       10
Name: count, dtype: int64

ğŸ“Œ [ë“±ê¸‰ í• ë‹¹ í›„ ìƒ˜í”Œ ë°ì´í„°]
            ê³ ê°ID  ì´ì   êµ¬ë§¤ íšŸìˆ˜        ê°€ì…ì¼      êµ¬ë§¤ ë‚ ì§œ  ë§ˆì§€ë§‰ êµ¬ë§¤ ì´í›„ ì¼ìˆ˜    ë“±ê¸‰
0          14798   6      1 2023-04-01 2024-04-04           350  ì´íƒˆê°€ëŠ¥
1   kyoungsoo031  15      5 2025-02-09 2025-02-10            38   vip
2       daeun026  10      1 2025-02-28 2025-03-10            10    ì‹ ê·œ
3       minsu001   5      1 2023-04-28 2023-05-01           689  ì´íƒˆê°€ëŠ¥
4   seunghyun020   6      1 2023-09-18 2023-10-01           536  ì´íƒˆê°€ëŠ¥
5  youngcheol006   6      1 2023-02-01 2023-02-01           778  ì´íƒˆê°€ëŠ¥
6       sujin002   6      1 2023-07-11 2023-07-18           611  ì´íƒˆê°€ëŠ¥
7      jaewon040   7      1 2024-12-01 2024-12-01           109  ì´íƒˆê°€ëŠ¥
8       jinsu035   5      1 2023-01-01 2023-01-03           807  ì´íƒˆê°€ëŠ¥
9    minjeong008   7      1 2024-04-01 2024-04-06           348  ì´íƒˆê°€ëŠ¥

In [144]:
cs.head()

,ê³ ê°ID,ìƒë…„ì›”ì¼,ì„±ë³„,ì£¼ì†Œ,ê°€ì…ì¼,ê³ ê°ì„¸ê·¸ë¨¼íŠ¸,ê¸ˆì•¡,ì°¨ëŸ‰êµ¬ë¶„,êµ¬ë§¤ íšŸìˆ˜,ëˆ„ì êµ¬ë§¤ ê¸ˆì•¡,...,ê±°ë˜ ë°©ì‹,êµ¬ë§¤ ê²½ë¡œ,êµ¬ë§¤ íšŸìˆ˜ ì ìˆ˜,ëˆ„ì êµ¬ë§¤ ê¸ˆì•¡ ì ìˆ˜,ë§ˆì§€ë§‰ êµ¬ë§¤ ì´í›„ ì¼ìˆ˜,êµ¬ë§¤ ìµœê·¼ì„± ì ìˆ˜,ê±°ë˜ ë°©ì‹ ì ìˆ˜,êµ¬ë§¤ ê²½ë¡œ ì ìˆ˜,ì´ì,ë“±ê¸‰
0,14798,2002-03-04,ë‚¨,ì¸ì²œê´‘ì—­ì‹œ ë‚¨ë™êµ¬ êµ¬ì›”ë™ 88-10,2023-04-01,ì¼ë°˜,35170000,ì¤€ì¤‘í˜• ì„¸ë‹¨,1,35170000,...,ì‹ ìš©ì¹´ë“œ,ì˜¤í”„ë¼ì¸,1,1,350,2,1,1,6,ì´íƒˆê°€ëŠ¥
1,kyoungsoo031,1983-01-02,ë‚¨,ê´‘ì£¼ê´‘ì—­ì‹œ ì„œêµ¬ ì¹˜í‰ë™ 14-7,2025-02-09,vip,85790000,ì¤€ëŒ€í˜• ì„¸ë‹¨,5,428950000,...,ì‹ ìš©ì¹´ë“œ,ì˜¤í”„ë¼ì¸,5,4,38,4,1,1,15,vip
2,daeun026,1999-05-02,ì—¬,ë¶€ì‚°ê´‘ì—­ì‹œ í•´ìš´ëŒ€êµ¬ ìš°ë™ 101-12,2025-02-28,ì‹ ê·œ,69500000,ì¤‘í˜• SUV,1,69500000,...,ê³„ì¢Œì´ì²´,ì˜¤í”„ë¼ì¸,1,2,10,5,1,1,10,ì‹ ê·œ
3,minsu001,1960-07-01,ë‚¨,ì „ë¼ë‚¨ë„ ëª©í¬ì‹œ ë¶€ì£¼ë™ 77-8,2023-04-28,ì¼ë°˜,34920000,ì¤‘í˜• SUV,1,34920000,...,í˜„ê¸ˆ,ì˜¤í”„ë¼ì¸,1,1,689,1,1,1,5,ì´íƒˆê°€ëŠ¥
4,seunghyun020,1970-03-02,ë‚¨,ê²½ê¸°ë„ ìˆ˜ì›ì‹œ ì˜í†µêµ¬ ì›ì²œë™ 12-34,2023-09-18,ì´íƒˆê°€ëŠ¥,50230000,ì¤€ì¤‘í˜• ì„¸ë‹¨,1,50230000,...,ì‹ ìš©ì¹´ë“œ,ì˜¤í”„ë¼ì¸,1,2,536,1,1,1,6,ì´íƒˆê°€ëŠ¥

In [145]:
print(cs["ë“±ê¸‰"].value_counts())

ë“±ê¸‰
ì¼ë°˜      153
ì´íƒˆê°€ëŠ¥     84
vip      45
ì‹ ê·œ       10
Name: count, dtype: int64

In [140]:
cs.to_csv("/Users/mi-yeonlim/Documents/Github/p404-customer/data/updated_customer.csv", encoding="utf-8", index=False)

In [ ]:
# í˜„ì¬ ê¸°ì¤€ ë‚ ì§œ ì„¤ì • (2025-03-20)
current_date = pd.Timestamp('2025-03-20')

# ìƒë…„ì›”ì¼ì„ datetimeìœ¼ë¡œ ë³€í™˜ í›„, í˜„ì¬ ë‚ ì§œì™€ì˜ ì°¨ì´ë¥¼ ì¼(day) ë‹¨ìœ„ë¡œ ê³„ì‚°í•˜ì—¬ 365ë¡œ ë‚˜ëˆ”
df['ë‚˜ì´'] = ((current_date - pd.to_datetime(df['ìƒë…„ì›”ì¼'])).dt.days // 365).astype(int)

# ê²°ê³¼ í™•ì¸
print(df[['ìƒë…„ì›”ì¼', 'ë‚˜ì´']].head())

## ê²½ì œì‹¬ë¦¬ì§€ìˆ˜ë€?

ê²½ì œì‹¬ë¦¬ì§€ìˆ˜ëŠ” ì†Œë¹„ìë“¤ì´ í˜„ì¬ì™€ ë¯¸ë˜ì˜ ê²½ì œ ìƒí™©ì— ëŒ€í•´ ì–´ë–»ê²Œ ëŠë¼ê³  ìˆëŠ”ì§€ë¥¼ ë‚˜íƒ€ë‚´ëŠ” ì§€í‘œì…ë‹ˆë‹¤.

## ìš©ì–´ êµ¬ë¶„

### 1. ê²½ì œì‹¬ë¦¬ì§€ìˆ˜ (ì›ê³„ì—´)
- ì¸¡ì •ëœ ê²½ì œì‹¬ë¦¬ì§€ìˆ˜ì˜ **ì›ë˜ ê°’**ì„ ì˜ë¯¸í•©ë‹ˆë‹¤.
- ì´ ê°’ì—ëŠ” **ì¥ê¸° ì¶”ì„¸** (ì˜ˆ: ê²½ì œ ì„±ì¥ ì¶”ì„¸)ì™€ **ë‹¨ê¸° ë³€ë™** (ì˜ˆ: ê²½ê¸° ìˆœí™˜ ë“±)ì´ ëª¨ë‘ í¬í•¨ë˜ì–´ ìˆìŠµë‹ˆë‹¤.

### 2. ê²½ì œì‹¬ë¦¬ì§€ìˆ˜ (ìˆœí™˜ë³€ë™ì¹˜)
- ì›ê³„ì—´ì—ì„œ **ì¥ê¸° ì¶”ì„¸ë¥¼ ì œê±°**í•˜ê³ , **ìˆœí™˜(ì£¼ê¸°ì ì¸ ë³€ë™)**ë§Œì„ ì¶”ì¶œí•œ ê°’ì…ë‹ˆë‹¤.
- ì´ë¥¼ í†µí•´ ê²½ì œì˜ **ë‹¨ê¸° ê²½ê¸° ìˆœí™˜**ì´ë‚˜ ë³€ë™ íŒ¨í„´ì„ ë” ëª…í™•í•˜ê²Œ íŒŒì•…í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

## êµ¬ë¶„í•˜ëŠ” ì´ìœ 

- **ì›ê³„ì—´**ì€ ê²½ì œ ì „ë°˜ì˜ ì¥ê¸°ì  íë¦„ê³¼ ë‹¨ê¸° ë³€ë™ì´ í˜¼í•©ë˜ì–´ ìˆì–´, ë‹¨ê¸° ê²½ê¸° ë³€ë™ì„ ì •í™•í•˜ê²Œ íŒŒì•…í•˜ê¸° ì–´ë µìŠµë‹ˆë‹¤.
- **ìˆœí™˜ë³€ë™ì¹˜**ëŠ” ë‹¨ê¸° ë³€ë™ì— ì§‘ì¤‘í•˜ì—¬ ê²½ê¸° ì‚¬ì´í´(í˜¸í™©ê³¼ ë¶ˆí™©)ì„ ë³´ë‹¤ ëª…í™•í•˜ê²Œ ë¶„ì„í•  ìˆ˜ ìˆê²Œ í•´ì¤ë‹ˆë‹¤.

In [7]:
# ë°ì´í„°í”„ë ˆì„ ì´ë¦„ì´ dfë¼ê³  ê°€ì •
cs = cs.rename(columns={
    'ì›ìë£Œ': 'ê²½ì œì‹¬ë¦¬ì§€ìˆ˜ (ì›ê³„ì—´)',
    'ì›ìë£Œ.1': 'ê²½ì œì‹¬ë¦¬ì§€ìˆ˜ (ìˆœí™˜ë³€ë™ì¹˜)'
})

In [8]:
cs.columns

Index(['ë³€í™˜', 'ê²½ì œì‹¬ë¦¬ì§€ìˆ˜ (ì›ê³„ì—´)', 'ê²½ì œì‹¬ë¦¬ì§€ìˆ˜ (ìˆœí™˜ë³€ë™ì¹˜)'], dtype='object')

In [9]:
cs.to_csv("/Users/mi-yeonlim/Documents/Github/p404-customer/data/ê²½ì œì‹¬ë¦¬ì§€ìˆ˜.csv", encoding="utf-8", index=False)

In [10]:
cs.head()

        ë³€í™˜  ê²½ì œì‹¬ë¦¬ì§€ìˆ˜ (ì›ê³„ì—´)  ê²½ì œì‹¬ë¦¬ì§€ìˆ˜ (ìˆœí™˜ë³€ë™ì¹˜)
0  2023/01          90.7            93.4
1  2023/02          91.8            93.0
2  2023/03          91.9            92.8
3  2023/04          94.5            92.9
4  2023/05          94.9            93.1

In [28]:
file_path = "/Users/mi-yeonlim/Documents/Github/p404-customer/data/á„€á…©á„€á…¢á†¨á„ƒá…¦á„‹á…µá„á…¥ á„‰á…®á„Œá…¥á†¼.csv"
df_1 = pd.read_csv(file_path, encoding="utf-8")

In [29]:
df_1.columns

Index(['ìƒë…„ì›”ì¼', 'ì„±ë³„', 'ë“±ê¸‰', 'ì°¨ ì¢…', 'êµ¬ë§¤í•œ ì œí’ˆ', 'êµ¬ë§¤ ë‚ ì§œ', 'ê¸ˆì•¡', 'ê±°ë˜ ë°©ì‹', 'êµ¬ë§¤ íšŸìˆ˜',
       'êµ¬ë§¤ ê²½ë¡œ', 'ì£¼ì†Œ'],
      dtype='object')

In [22]:
file_path = "/Users/mi-yeonlim/Documents/Github/p404-customer/data/á„Œá…µá„€á…³á†¸á„€á…§á†¯á„Œá…¦á„ƒá…©á†¼á„’á…£á†¼_14103901.csv"
pv = pd.read_csv(file_path, encoding="utf-8")

In [23]:
pv.head()

,ë³€í™˜,ì›ìë£Œ,ì›ìë£Œ.1,ì›ìë£Œ.2,ì›ìë£Œ.3,ì›ìë£Œ.4,ì›ìë£Œ.5,ì›ìë£Œ.6,ì›ìë£Œ.7,ì›ìë£Œ.8,...,ì›ìë£Œ.72,ì›ìë£Œ.73,ì›ìë£Œ.74,ì›ìë£Œ.75,ì›ìë£Œ.76,ì›ìë£Œ.77,ì›ìë£Œ.78,ì›ìë£Œ.79,ì›ìë£Œ.80,ì›ìë£Œ.81
0,2023/01,"84,391.0","4,044,620,672.1","20,559.0","862,492,411.1","10,546.0","271,789,394.5",11.0,"193,359.3","6,448.0",...,0.0,0.0,"18,855.0","219,363,579.3",762.0,"81,536,556.2","1,059.0","264,490,143.7","105,664.0","3,298,239,938.0"
1,2023/02,"85,826.0","3,916,028,594.0","21,850.0","926,309,911.7","11,378.0","314,021,316.1",11.0,"285,866.0","7,567.0",...,0.0,0.0,"22,245.0","185,876,184.3",757.0,"78,348,070.0","1,218.0","261,438,313.1","106,592.0","3,477,392,600.2"
2,2023/03,"97,592.0","4,545,478,079.0","24,710.0","1,078,234,224.4","13,284.0","354,361,750.2",4.0,"40,704.7","7,258.0",...,0.0,0.0,"29,804.0","163,946,724.9",773.0,"78,031,059.0","1,354.0","404,392,726.8","120,820.0","3,731,932,275.8"
3,2023/04,"90,848.0","4,116,148,621.1","23,997.0","1,016,948,005.8","12,275.0","332,719,774.0",8.0,"86,499.6","7,335.0",...,0.0,0.0,"23,167.0","193,275,345.6",769.0,"77,094,123.0","1,029.0","283,348,298.2","111,386.0","3,487,670,264.5"
4,2023/05,"89,537.0","3,973,341,618.7","22,718.0","971,390,200.1","11,795.0","344,628,442.1",8.0,"22,801.1","7,883.0",...,0.0,0.0,"22,999.0","197,822,281.9",747.0,"74,180,422.0","1,172.0","144,049,260.0","113,621.0","3,537,443,259.2"

ì£¼ : 
- 2019ë…„ ì´ì „ ì§€ìˆ˜ëŠ” ì†Œìˆ˜ì  ì´í•˜ 3ìë¦¬, 2020ë…„ ì´í›„ ì§€ìˆ˜ëŠ” ì†Œìˆ˜ì  ì´í•˜ 2ìë¦¬ë¡œ ì‘ì„± 
- 2020ë…„ê¸°ì¤€ ê°€ì¤‘ì¹˜ë¡œì„œ ì´ì „ìë£Œ(~2019ë…„)ëŠ” ë™ì¼ê°€ì¤‘ì¹˜ë¥¼ ì ìš© í•  ìˆ˜ ì—†ìŒ
- ê³„ì ˆì  ì˜í–¥ìœ¼ë¡œ ì¼ì •ê¸°ê°„ ì¶œíšŒë˜ì§€ ì•ŠëŠ” ê³„ì ˆ ë†ì‚°ë¬¼ ë“± 11ê°œ í’ˆëª©ì˜ ì§€ìˆ˜ì‘ì„± ë°©ë²•ì„ â€˜17ë…„ 1ì›”ë¶„ë¶€í„° ë³€ê²½í•¨
    * (ë‹¹ì´ˆ) ì´ì›” : ë¯¸ì¶œíšŒê¸°ê°„ ì¤‘ì˜ ì§€ìˆ˜ë¥¼ ì¶œíšŒê¸°ê°„ì˜ ë§ˆì§€ë§‰ ë‹¬ì˜ ì§€ìˆ˜ì™€ ë™ì¼í•˜ê²Œ ì²˜ë¦¬í•˜ëŠ” ë°©ì‹
  ** (ë³€ê²½) ëŒ€ì²´ : í’ˆëª©êµ°ë³„ë¡œ ê³„ì ˆí’ˆëª©ì„ ì œì™¸í•œ ì‹¤ì œ ê±°ë˜ë˜ëŠ” í’ˆëª© ì „ì²´ì˜ ì§€ìˆ˜ ë³€ë™ë¥ ì„ ê³„ì ˆ í’ˆëª©ì— ì ìš©
 - 11ê°œ ê³„ì ˆí’ˆëª©ì€ ì•„ë˜ì™€ ê°™ìŒ(ê´„í˜¸ ë‚´ëŠ” ë¯¸ì¶œíšŒê¸°ê°„)
  Â· ê³¼ì‹¤ : ë³µìˆ­ì•„(10ì›”~ìµë…„6ì›”), í¬ë„(11ì›”~ìµë…„7ì›”), ê°, ê·¤(4ì›”~9ì›”), ì˜¤ë Œì§€(7ì›”~12ì›”), 
             ì°¸ì™¸(9ì›”~ìµë…„ 2ì›”), ìˆ˜ë°•(9ì›”~ìµë…„4ì›”), ë”¸ê¸°(6ì›”~11ì›”), ì²´ë¦¬(3ì›”~5ì›”, 9ì›”~11ì›”) 
  Â· ì±„ì†Œ : ì—´ë¬´(11ì›”~ìµë…„ 2ì›”)
  Â· ìˆ˜ì‚°ë¬¼ : êµ´(4ì›”~9ì›”)

(í†µê³„ ì´ìš©ì‹œ ìœ ì˜ì‚¬í•­)
- í•œêµ­ì€í–‰ì€ ì§ì ‘ ì‘ì„±í•œ í†µê³„ê°€ ì•„ë‹ˆë”ë¼ë„ ì´ìš©ì í¸ì˜ì°¨ì›ì—ì„œ ì¼ë¶€ ì œê³µí•˜ê³  ìˆìŠµë‹ˆë‹¤.
- 5ì¼ ë‚´ì™¸ì˜ ìˆ˜ë¡ ì‹œì°¨ê°€ ìˆìœ¼ë¯€ë¡œ í•„ìš”ì‹œ í†µê³„ ìƒì‚° ê¸°ê´€ì„ ì´ìš©í•˜ì‹œê¸° ë°”ëë‹ˆë‹¤.

In [24]:
file_path = "/Users/mi-yeonlim/Documents/Github/p404-customer/data/ì†Œë¹„ìë¬¼ê°€ì§€ìˆ˜_14103710.csv"
cpi = pd.read_csv(file_path, encoding="utf-8")

In [25]:
cpi.head()

,ë³€í™˜,ì›ìë£Œ,ì›ìë£Œ.1,ì›ìë£Œ.2,ì›ìë£Œ.3,ì›ìë£Œ.4,ì›ìë£Œ.5,ì›ìë£Œ.6,ì›ìë£Œ.7,ì›ìë£Œ.8,...,ì›ìë£Œ.571,ì›ìë£Œ.572,ì›ìë£Œ.573,ì›ìë£Œ.574,ì›ìë£Œ.575,ì›ìë£Œ.576,ì›ìë£Œ.577,ì›ìë£Œ.578,ì›ìë£Œ.579,ì›ìë£Œ.580
0,2023/01,110.07,115.37,115.46,114.10,94.27,98.32,92.62,111.66,99.32,...,99.07,109.59,135.36,99.07,100,92.28,100.0,100.92,104.87,105.42
1,2023/02,110.33,115.91,115.82,116.27,94.60,97.68,93.53,112.04,97.80,...,99.07,109.59,135.66,99.07,100,92.28,100.0,100.92,104.87,105.72
2,2023/03,110.52,116.46,116.30,116.19,93.99,96.17,93.34,113.04,98.08,...,96.63,109.59,135.66,97.06,100,92.28,100.0,100.92,104.87,106.43
3,2023/04,110.77,115.90,115.68,116.69,93.43,96.16,93.32,113.58,98.42,...,96.64,109.59,142.10,97.06,100,92.28,100.0,100.92,104.87,106.74
4,2023/05,111.13,115.99,115.84,116.72,94.04,96.02,93.00,113.70,98.19,...,96.67,109.59,142.10,97.06,100,92.28,100.0,100.92,104.87,106.83